body{
    background-image: url(af.jpg) ;
    background-position: center;
    background-repeat: no-repeat;
    margin: 0;
    background-size: cover;
    background-attachment: fixed;
}
#clock-container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
#clock{
    font-family: monospace;
    font-size: 6.5rem;
    color: aliceblue;
    font-weight: bold;
    text-align: center;
    backdrop-filter: blur(5px);
    width: 100%;
}